/* Estilos gerais */
attempts-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

attempts-list li {
  background: #f8f9fa;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: monospace;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Cabeçalho e navegação */
  header {
    text-align: center;
    padding: 2em;
    background: #282c34;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #e7d0d0;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: color 0.3s, background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #282c34;
    color: white;
    border-radius: 5px;
  }
  
  /* Sobre mim */
  #about {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 1em;
  }

  .pentesting {
    width: 500;
    height: 300px;
    border-radius: 50%;
    margin-top: 1em;
  }

  .lobo {
    width: 300px;
    height: 500px;
    border-radius: 50%;
    margin-top: 1em;
  }
  
  /* Projetos */
  #projects {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 1em;
    background: #282c34;
    color: white;
  }
  